@if (items(); as list) {
  <ul>
    @for (c of list; track c.id) {
      <li>
        <div class="title">{{ c.title }}</div>
        <div class="meta">{{ c.postDate }}</div>
        <div class="desc">{{ c.description }}</div>
        <a [href]="c.url" target="_blank" rel="noopener">abrir</a>
        <div class="tags">
          @for (t of c.tags; track t) {
            <span>{{ t }}</span>
          }
        </div>
      </li>
    } @empty {
      <li>Nenhum item encontrado.</li>
    }
  </ul>
}
