:host {
  display: block;
}

.news-layout {
  display: grid;
  width: 100%;
  gap: var(--space-l);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "hero hero hero hero"
    "secondary-a secondary-a secondary-b secondary-b"
    "text-a text-b text-c text-d";
}

.card-position-0 {
  grid-area: hero;
  --card-direction: column;
  --card-title-size: var(--font-size-xl);
  --card-media-aspect: 1 / 1;
}

.card-position-1 {
  grid-area: secondary-a;
  --card-direction: column;
  --card-title-size: var(--font-size-md);
  --card-media-aspect: 16 / 9;
}

.card-position-2 {
  grid-area: secondary-b;
  --card-direction: column;
  --card-title-size: var(--font-size-base);
  --card-media-aspect: 16 / 9;
}

.card-position-3 {
  grid-area: text-a;
  --card-bg-color: var(--surface-3);
  --card-media-display: none;
}

.card-position-4 {
  grid-area: text-b;
  --card-bg-color: var(--surface-3);
  --card-media-display: none;
}

.card-position-5 {
  grid-area: text-c;
  --card-bg-color: var(--surface-3);
  --card-media-display: none;
}

.card-position-6 {
  grid-area: text-d;
  --card-direction: row;
}

.tertiary-grid {
  margin-top: var(--space-xl);
  display: grid;
  gap: var(--space-l);
  grid-template-columns: repeat(auto-fit, minmax(clamp(300px, 28vw, 380px), 1fr));
}

@media (max-width: 900px) {
  .news-layout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "hero hero"
      "secondary-a secondary-b"
      "text-a text-b"
      "text-c text-d";
  }
  .card-position-6 {
    grid-area: secondary-c;
  }
}

@media (max-width: 600px) {
  .news-layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "hero"
      "secondary-a"
      "secondary-b"
      "text-a"
      "text-b"
      "text-c"
      "text-d";
  }
  .card-position-6 {
    grid-area: text-d;
    --card-direction: column;
  }
}
