.menu-text {
  font-family: 'ExoMenu', sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.menu-text a, .menu-text a:visited, .menu-text a:hover, .menu-text a:active {
  text-decoration: none
}

.app-navbar {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  width: 100%
}

.app-navbar a {
  flex: 1;
  text-align: center;
  padding: 12px 0
}


.menu {
  padding: 16px;
  font-size: 20px;
}

.menu a {
  color: #111;           /* texto visível em fundo claro */
  margin-right: 16px;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}
